*{
	font-family:Verdana, Helvetica, sans-serif;
}
/*-------------------------------------------------------
| Create By manam
|--------------------------------------------------------*/
ul, li{
	padding:0;
	list-style:none;
	list-style-position:outside;
}

body{
	margin:0;
	background:url(../images/bg.png) repeat-x top;

}

input,label,select{
	width:100px;
}

.clear{
	clear:both;
}
#sitewrapper{
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
/*	border:1px solid #FF0000;*/
}
.sitebox1{
	width:796px;
	height:25px;
	background: url(../images/up1.png) no-repeat bottom;
	margin-top:20px;
}
.site2{
	width:796px;
	height: auto;
	background: url(../images/up2.png) repeat-y;
}
.site3{
	width:796px;
	height:25px;
	background: url(../images/up3.png) no-repeat top;
}
#sitebanner{
	width:800px;
	height: auto;
/*	border:1px solid #FF0000;*/
}
#sitebody{
	width:800px;
	height: auto;
	min-height:300px;
}
#footer1{
	width:800px;
	height:100px;
}
.sitelogo{
	width:340px;
	height:60px;
	float: right;
	margin-top:100px;
	margin-right:25px;
	_margin-right:10px;
/*	border:1px solid #FF0000;*/
	background:url(../images/logo.jpg) no-repeat;
}
.siteblank{
	width:340px;
	height:60px;
	float:left;
/*	border:1px #333333 solid;*/
	margin-top:100px;
	margin-bottom:10px;
}
.rightarrow{
	width:460px;
	height:27px;
	clear:both;
	margin-left:10px;
	background:url(../images/right-arrow.jpg) no-repeat;
/*	border:1px #333333 solid;*/
}

#leftcontent{
	width:200px;
	height:300px;
/*	border: 1px solid #0000CC;*/
	float:left;
	margin-left:12px;
	_margin-left:6px;
}
/*===========ul li==========*/
#contentlist {
	width:155px; /* set width of menu */
/*	border:1px solid #003333;*/
} 

#contentlist ul { /* remove bullets and list indents */
	list-style: none;
	margin: 0;
	padding: 0;
}

/* style, color and size links and headings to suit */
#contentlist a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	display: block;
	margin: 0;
	padding-left:2px;
}
#contentlist a {
	color: #333333;
	text-decoration: none;
	width:155px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	line-height:19px;
	padding-left:1px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:11px;
	font-weight:bold;
	_margin-top:0px;
}
#contentlist a:hover {
/*	color: #333333;*/
	margin-left:-8px;
	text-decoration: none;
	width:155px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	_margin-top:0px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	font-size:11px;
	font-weight:bold;
	background:url(../images/short_arrow2.gif) no-repeat top left;
	padding-left:7px;
}
#contentlist li {
/* make the list elements a containing block for the nested lists */
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:11px;
	font-weight:bold;
	display: block;
	background:url(../images/short_arrow.gif) no-repeat;
	width:155px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	line-height:20px;
	padding-left:7px;
	_margin-top:0px;
} 
#contentlist li.selected{
	background-image: url(../images/short_arrow2.gif);
}

#contentlist li.selected a{ /*selected main tab style */
	background-image: url(../images/short_arrow2.gif);
	margin-left:-8px;
	width:155px;
	padding-left:10px;
}
#contentlist  li.selected a:hover{ /*selected main tab style */
	background-image: url(../images/short_arrow2.gif);
}


/*===========ul li==========*/

.rightcontent{
	width:560px;
	float:left;
	margin-top:30px;
}
.only_div{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333333;
	font-weight:bold;
	text-align:left;
}
.onlyimg{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	background:url(../images/short_arrow.gif) no-repeat;
}
.onlyimg2{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	background:url(../images/short_arrow2.gif) no-repeat;
}
.rightcontent1{
	width:550px;
	height:56px;
	margin-left:auto;
	margin-right:auto;
	
}
.bodybanner1{
	width:17px;
	height:56px;
	float:left;
	background:url(../images/s1.jpg) no-repeat right;
}
.bodybanner2{
	width: 500px;
	height:56px;
	float:left;
	background:url(../images/s2.jpg) repeat-x;
}
.bodybanner3{
	width:17px;
	height:56px;
	float:left;
	background:url(../images/s3.jpg) no-repeat left;
}

/*-------------------------------------------------------
| Ajax loaded
|--------------------------------------------------------*/
#ajax_content{
	width:550px;
/*	height:110px;*/
	background:url(../images/o2.jpg) repeat-y bottom;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #FFFFFF;
	position:relavite;
}
#ajax_content p{
	margin-top:3px;
}


.rightimg3{
	width:550px;
	height:8px;
	clear: both;
	margin-left:auto;
	margin-right:auto;
}
.downimg1{
	width:17px;
	height:8px;
	background:url(../images/y1.jpg) no-repeat right;
	float:left;
}
.downimg2{
	width:500px;
	height:8px;
	background:url(../images/y2.jpg) repeat-x center;
	float:left;
}
.downimg3{
	width:17px;
	height:8px;
	background: url(../images/y3.jpg) no-repeat left;
	float:left;
}
.leftbox{
	width:190px;
	height:100px;
/*	border:1px solid #FF00FF;*/
}
.leftimg1{
	width:190px;
	height:21px;
	background:url(../images/d1.jpg) no-repeat;
}
.font1{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight: bold;
	padding-left:10px;
	line-height:20px;
}
.font2{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #333333;
	font-weight: bold;

}
.leftimg2{
	width:190px;
	height: auto;
	background:url(../images/d2.jpg) repeat-y;
}
.leftimg3{
	width:190px;
	height:8px;
	background:url(../images/d3.jpg) no-repeat;
}
/*button*/
.divbutton{
	width: auto;
	height:26px;
	margin-left:205px;
	_margin-left:97px;
	margin-top:10px;
/*	border:1px solid #FF0000;*/
}
.button {
    border: none;
    background: url(../images/slice_b_1.jpg) repeat-x;
    padding: 2px 8px;
	text-align:center;
	color: #CCCCCC;
	font-weight:bold;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	width: auto;
	height:26px;
}
.button:hover {
	color:#FFFFFF;
    border: none;
    background: url(../images/slice_b_2.jpg) repeat-x;
    padding: 2px 8px;
}
/*Enf of button*/
input {
    border:1px solid  #CCCCCC;
    background: #F2F2F2;
}
input:hover {
    border:1px solid #d2d2d2;
    background: #66CCFF;
}
input:focus {
    border:1px solid #FFFFFF;
  	background: #66CCFF;
}

label {
    display: block;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align:right;
	font-size:10px;
	color:#333333;
	font-weight: normal;
    font-weight:bold;
}


/*-------------------------------------------------------
| Rajib Ahmed Section
|--------------------------------------------------------*/
.centerbody{
	width:550px;
	clear:both;
}
.lowbanner1{
	width:10px;
	height:42px;
	float:left;
	background:url(../images/dd1.jpg) no-repeat right;
}
.lowbanner2{
	width:520px;
	height:42px;
	float:left;
	background:url(../images/dd2.jpg) repeat-x;
}

.lowbanner3{
	width:10px;
	height:42px;
	float:left;
	background:url(../images/dd3.jpg) no-repeat left;
}

.centerbody ul,li{
/*	text-align:center;*/
}
.centerbody ul li{
	float:left;
/*	padding:0 10px;*/
	margin-left:8px;
	width:95px;
	display:inline;
	font-weight:bold;
	color:#fff;	
	font-size:10px;
}


.morelabel{
	width:270px;
	float:left;
}

.small_row_elements input{
	width:67px;
}
.row_elements{
	line-height:20px;
	width:550px;
}
.row_elements input{
	width:95px;
} 
.morelabel label,input{
    width:100px;
}


.vertical_form label,input{
	width:150px;
}

.morelabel p{
	margin:10px 0;
}


.vertical_form{
	line-height:12px;
	margin-left:20;
}

.vertical_form p{
	padding:8px 20px;
}



#inline_form div{
	padding-left:20px;
	position:relative;
}
#inline_form input{}
#add_remove{
	margin-top:10px;
	float:right;
}
#add_remove a{
	font-size:10px;
	color:#FAC323;
	margin-right:10px;
}

#submit_set{
	margin-top:10px;
	text-align:center;
}
#btn_send{
	width:150px;
}
.small_font ul li{
	width:68px;
}
.medium_font{
	
}

.rightcontent2{
/*border:1px solid #000;*/
}