body{
	margin:0;
	background:url(../images/bg.png) repeat-x top;

}

#sitewrapper{
	width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
/*	border:1px solid #FF0000;*/
}
.sitebox1{
	width:796px;
	height:25px;
	background: url(../images/up1.png) no-repeat bottom;
	margin-top:20px;
}
.site2{
	width:796px;
	height: auto;
	background: url(../images/up2.png) repeat-y;
}
.site3{
	width:796px;
	height:25px;
	background: url(../images/up3.png) no-repeat top;
}
#sitebanner{
	width:800px;
	height: auto;
/*	border:1px solid #FF0000;*/
}
#sitebody{
	width:800px;
	height: auto;
	min-height:300px;
}
#footer1{
	width:800px;
	height:100px;
}
.sitelogo{
	width:340px;
	height:60px;
	float: right;
	margin-top:100px;
	margin-right:25px;
	_margin-right:10px;
/*	border:1px solid #FF0000;*/
	background:url(../images/logo.jpg) no-repeat;
}
.siteblank{
	width:340px;
	height:60px;
	float:left;
/*	border:1px #333333 solid;*/
	margin-top:100px;
	margin-bottom:10px;
}
.rightarrow{
	width:460px;
	height:27px;
	clear:both;
	margin-left:10px;
	background:url(../images/right-arrow.jpg) no-repeat;
/*	border:1px #333333 solid;*/
}

#leftcontent{
	width:200px;
	height:300px;
/*	border: 1px solid #0000CC;*/
	float:left;
	margin-left:12px;
	_margin-left:6px;
}
/*===========ul li==========*/
#contentlist {
	width:200px; /* set width of menu */
/*	border:1px solid #003333;*/
} 

#contentlist ul { /* remove bullets and list indents */
	list-style: none;
	margin: 0;
	padding: 0;
}

/* style, color and size links and headings to suit */
#contentlist a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	display: block;
	margin: 0;
	padding-left:2px;
}
#contentlist a {
	color: #333333;
	text-decoration: none;
	width:193px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	line-height:19px;
	padding-left:1px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:11px;
	font-weight:bold;
	_margin-top:0px;
}
#contentlist a:hover {
/*	color: #333333;*/
	margin-left:-8px;
	text-decoration: none;
	width:193px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	_margin-top:0px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	font-size:11px;
	font-weight:bold;
	background:url(../images/short_arrow2.gif) no-repeat top left;
	padding-left:7px;
}
#contentlist li {
/* make the list elements a containing block for the nested lists */
	position: relative;
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:11px;
	font-weight:bold;
	display: block;
	background:url(../images/short_arrow.gif) no-repeat top left;
	width:193px;
	height:23px;
	margin-bottom:2px;
	margin-top:2px;
	line-height:20px;
	padding-left:7px;
	_margin-top:0px;
} 
#contentlist li.selected{
	background-image: url(../images/short_arrow2.gif);
}

#contentlist li.selected a{ /*selected main tab style */
	background-image: url(../images/short_arrow2.gif);

}
#contentlist  li.selected a:hover{ /*selected main tab style */
	background-image: url(../images/short_arrow2.gif);
}


/*===========ul li==========*/

.rightcontent{
	width:580px;
	height:300px;
	/*border: 1px solid #0000CC;*/
	float:right;
	margin-top:30px;
}
.only_div{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#333333;
	font-weight:bold;
	text-align:left;
}
.onlyimg{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	background:url(../images/short_arrow.gif) no-repeat;
}
.onlyimg2{
	width:192px;
	height:23px;
/*	border:1px solid #FF0000;*/
	margin-top:5px;
	margin-bottom:5px;
	background:url(../images/short_arrow2.gif) no-repeat;
}
.rightcontent1{
	width:550px;
	height:56px;
	background:url(../images/o1.jpg) no-repeat bottom;
	margin-left:auto;
	margin-right:auto;
}
.rightcontent2{
	width:550px;
	height:110px;
	background:url(../images/o2.jpg) repeat-y bottom;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #FFFFFF;
}
.rightimg3{
	width:550px;
	height:8px;
	background:url(../images/o3.jpg) no-repeat;
	margin-left:auto;
	margin-right:auto;
}
.centerbody{
	width:550px;
	height:42px;
	background: url(../images/center_banner.jpg) no-repeat;
	margin-left:auto;
	margin-right:auto;
/*	margin-top:25px;*/
}
.leftbox{
	width:190px;
	height:100px;
/*	border:1px solid #FF00FF;*/
}
.leftimg1{
	width:190px;
	height:21px;
	background:url(../images/d1.jpg) no-repeat;
}
.font1{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight: bold;
	padding-left:10px;
	line-height:20px;
}
.font2{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #333333;
	font-weight: bold;

}
.leftimg2{
	width:190px;
	height: auto;
	background:url(../images/d2.jpg) repeat-y;
}
.leftimg3{
	width:190px;
	height:8px;
	background:url(../images/d3.jpg) no-repeat;
}
/*button*/
.divbutton{
	width:80px;
	height:26px;
	margin-left:205px;
	_margin-left:97px;
	margin-top:10px;
/*	border:1px solid #FF0000;*/
}
.button {
    border: none;
    background: url(../images/slice_b_1.jpg) repeat-x;
    padding: 2px 8px;
	text-align:center;
	color: #CCCCCC;
	font-weight:bold;
	font-family: Verdana, Helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	width:80px;
	height:26px;
}
.button:hover {
	color:#FFFFFF;
    border: none;
    background: url(../images/slice_b_2.jpg) repeat-x;
    padding: 2px 8px;
}
/*Enf of button*/
.input {
     border:1px solid  #CCCCCC;
    background: #F2F2F2;
}
.input:hover {
     border:1px solid #FFFFFF;
    background: #66CCFF;
}
label {
    display: block;
    width: 100px;
	_width: 98px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	font-weight: normal;
}
p{
	text-align:left;
	margin-top:0px;
	margin-bottom:5px;
	/*border:1px solid #FF0000;*/
}
.morelabel{
	width:270px;
	_width:270px;
	height: auto;
/*	border:1px solid #FF0000;*/
	float:left;
	margin-bottom:6px;
	_margin-bottom:0px;
}